body {
  background: #091540;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar h3 {
  margin-bottom: 20px;
  color: #333;
}
.burger {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #091540;
  color: #fff;
  font-size: 25px;
  transition: all 700ms;
}
.burger:hover {
  background-color: #f7add2;
  color: #091540;
}
.sidebar {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: rgb(247, 173, 210);
  z-index: 100;
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 500ms, visibility 0 ms 500ms;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  padding: 15px 20px;
}
.sidebar ul li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: all 300ms;
  padding: 10px 30px;
  border-radius: 10px;
}
.sidebar ul li a:hover {
  background: #f1eeee;
  color: #8a8585;
}
.active {
  visibility: visible;
  transform: translateX(0%);
  transition: transform 500ms;
}
